<p><code>PopupButton</code> - кнопка с выпадающим списком
    <a href="https://doc.cuba-platform.com/manual-7.2-ru/gui_Action.html" target="_blank">действий</a>.</p>

<p>Кнопка может содержать текст или пиктограмму (или и то и другое).</p>

<p>В данном примере для двух кнопок действия определены в XML. Действия третьей кнопки программно добавляются в
    контроллере. Эти действия получают заголовки из пакета локализованных сообщений автоматически, по ключам,
    соответствующим идентификаторам действий.</p>