@mixin sampler-main-dashboard-fragment {

  .main-dashboard-csslayout-responsive {

    &[width-range~="0-930px"] {
      .group-panel {
        width: 100%;
      }
    }

    &[width-range~="931px-1400"] {
      .group-panel {
        width: 50%;
      }
    }

    &[width-range~="1401px-"] {
      .group-panel {
        width: 33.3333%;
      }
    }

    .group-panel-align {
      text-align: center
    }

    .group-panel-item {
      background: white;
      border-radius: 4px;
      border: 1px solid #d5d5d5;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
      color: var(--text-main-color);
      cursor: pointer;
      margin: 10px 10px 10px 10px;
      text-align: center;
    }

    .group-panel-item:hover {
      -webkit-box-shadow: 0 6px 20px 2px rgba(0, 0, 0, 0.35);
      box-shadow: 0 6px 20px 2px rgba(0, 0, 0, 0.35);
      transition: all 500ms;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
    }
  }

  .group-panel-label {
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top,#fafafa 2%,#f6f6f6 98%);
    background-image: linear-gradient(to bottom,#fafafa 2%,#f6f6f6 98%);
    border-bottom: 1px solid #d5d5d5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eee;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eee;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: baseline;
  }

  .label-title {
    font-size: 20px;
    padding: 10px 5px 10px 0;
    margin: 10px 0 10px 0;
    color: var(--primary-contrast-text-color);
    text-align: center;
    background: unquote("linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(var(--primary-color_rgb), 0.7) 25%, var(--primary-color) 37%, var(--primary-color) 63%, rgba(var(--primary-color_rgb), 0.7) 75%, rgba(255, 255, 255, 0))");
  }
}