@mixin sampler-sample-browser {
  .description-box {
    code {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: $v-border-radius / 2;
    }
  }
}