@mixin sampler-main-screen {
  .search-box {
    display: flex;
    padding: round($v-unit-size/3);
  }

  .v-filterselect-item-selected-locale,
  .v-filterselect-item-selected-theme {
    text-decoration: underline;
  }
}